<header>
  <h1 routerLink="/retailer" class="font-bold">JUNCTION</h1>
  <div class="container">
    <div class="categories font-light">
      <h3 routerLink="/retailer">Women</h3>
      <h3 routerLink="/retailer">Men</h3>
      <h3 routerLink="/retailer">Children</h3>
      <h3 routerLink="/retailer">Home</h3>
      <h3 routerLink="/retailer">Travel</h3>
    </div>
    <div>
      <img class="icon" src="assets/icons/search.svg" alt="search">
      <img class="icon" src="assets/icons/cart.svg" alt="shopping-cart">
      <img routerLink="/account" class="icon" src="assets/icons/account.svg" alt="account">
    </div>
  </div>
</header>