.content {
  position: relative;
}

.items {
  padding: 2rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: inline-block;
  width: 315px;
  position: relative;
  margin: 0.5rem 0.5rem;

  img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
  
  .brief-info {
    width: 100%;
  }
}

.item-detail {
  position: absolute;
  left: 0;
  top: 0;
}



