<app-header></app-header>
<div class="content">
  <h1 class="font-regular">Order</h1>
  <p class="font-light">Here you can view and track the status of your orders and write reviews on SeenOnMe to get a voucher for your next order!</p>
  <div class="center">
    <hr>
    <ng-container *ngFor="let order of orders">
      <div class="order">
        <img src="{{order.image}}" alt="">
        <div class="order-info font-light">
          <p>Date ordered: {{order.date}}</p>
          <p>Order status: {{order.status}}</p>
          <p>Order id: {{order.id}}</p>
          <button>Order Details</button>
        </div>
        <div>
          <label *ngFor="let item of order.products; let idx = index">
            <input class="font-light" type="radio" name="mode" (change)="selectItem(item, order.sizes[idx])">{{item + " - " + order.sizes[idx]}} <br>
          </label>
          <button (click)="goToSeenOnMe(order.id)" class="seenonme">#SeenOnMe</button>
        </div>
      </div>
      <hr>
    </ng-container>
</div>